<html>
    <head>
        <title>КУХНЯ</title>
        <script src="/static/js/libs/angular.min.js"></script>
        <script src="/static/js/libs/angular-resource.min.js"></script>
        <script src="/static/js/libs/angular-ui-router.js"></script>
        
        <script src="/static/js/libs/angular-idle.min.js"></script>
        <script src="/static/js/fastclick.js"></script>

        <script src="/static/js/auth.js"></script>
        <script src="/static/js/libs/iscroll.js"></script>
        <script>var filter = ['kuh']</script>
        <script src="/static/js/app-kitchen.js"></script>

        <link rel="stylesheet" href="/static/css/font.css" />
        <link rel="stylesheet" href="/static/css/pos-common.css" />
        <link rel="stylesheet" href="/static/css/kitchen.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body class="kitchen">
        <div ng-app="POSApp" class="dashboard">
            <div ng-controller="OrderItemController">
                <div>
                    <h3 style="font-size:28px"><span>ПОРЪЧКИ | КУХНЯ</span>   •   <span>{[now]}</span></h3>
                </div>
                <ul>
                    <li ng-repeat="item in orderItems | orderBy:'since':reverse" ng-class="getClass(item)" ng-click="remove(item)">
                        <span>{[item.tableName]} • {[item.waiter]}</span>
                        <span><em>{[item.productName]}</em></span>
                        <span><em>{[item.productDesc]}</em></span>
                        <span><em class="comment">{[item.comment]}</em></span>                        
                        <span><em>{[getReduced(item)]}{[item.quantity]} бр  •  {[item.since]} мин</em></span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>